* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  text-align: center;
  z-index: 0;
  background-color: #ccc5b9;
}

.header {
  background-color: black;
  color: white;
}

.header h1{
  text-align: left;
  padding-left: 10%;
  font-family: 'Lucida Sans';
}

.piePagina {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  place-items: center;
  column-gap: 0px;
  padding-left: 100px;
  padding-right: 10px;
}

.piePagina img {
  width: 50px;
}

.footer {
  background-color: #252422;
  color: white;
}

.footer p {
  background-color: black;
}

.textoFooter {
  display: contents;
}

a {
  outline: none;
  text-decoration: none;
}
a:link {
  color: #eb5e28;
}

a:hover {
  border-bottom: 1px solid;
  background: #ccc5b9;

}

.imgPrincipal {
  width: 100%;
}

.contenedor {
  background-image: url("img1.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: right;
}

.contenedor h1 {
  font-size: 6vw;
  padding-right: 40px;
  padding-top: 20px;
  font-family: 'Lucida Sans'
}

.mainInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
}

.container {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  width: 80%;
  min-height: 30vh;
  border-radius: 1rem;
  background-color: #252422;
  padding: 5px;
  border: 1px solid #ccc5b9;
}

.container2 {
  display: flex;
  align-items: center;
  width: 80%;
  min-height: 30vh;
  border-radius: 1rem;
  background-color: #eb5e28;
  padding: 5px;
  color: #252422;
  border: 1px solid #ccc5b9;
}

.container2 h1{
  color: #fff;
  padding-left: 10%;
}

.descripcion {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  color: #fff;
  font-family: 'Lucida Sans';
}

.container .rail {
  font-family: 'Lucida Sans';
  position: relative;
  width: 25vw;
  height: 10vh;
  background-color: #fff;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.holderopcion {
  width: 50%;
  height: 100%;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.activo {
  background-color: rgba(235, 94, 40, 1);
  color: white;
}

.texto {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  color: #ccc5b9;
  font-family: 'Lucida Sans';
}

.subtitulo {
  font-family: 'Lucida Sans';
  display: flex;
  background-color: #eb5e28;
  border-radius: 3rem;
  align-items: left;
  padding: 10px;
}

.containercontactos {
  display: flex;
  align-items: center;
  width: 80%;
  min-height: 30vh;
  border-radius: 1rem;
  background-color: #fff;
  padding: 5px;
  color: #252422;
  border: 1px solid #eb5e28;
  place-items: center;
}


.internacionales {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  height: 100%;
}

.internacionales p {
  text-align: justify;
  font-family: 'Lucida Sans';
  padding: 3em;
  border: 1px solid #000;
  border-radius: 10px;
}

.internacionales img {
  width: 120px;
  text-align: center;
  border-radius: 10px;
  padding-left: 25%;

}
.containercontactosNac {
  display: flex;
  align-items: center;
  width: 80%;
  min-height: 30vh;
  border-radius: 1rem;
  background-color: #fffcf2;
  padding: 5px;
  color: #252422;
  border: 1px solid #eb5e28;
  place-items: center;
}

.nacionales {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr ;
  height: 100%;
}

.nacionales p {
  text-align: justify;
  font-family: 'Lucida Sans';
  padding: 3em;
  border: 1px solid #000;
  border-radius: 10px;
}

.nacionales img {
  width: 120px;
  text-align: center;
  border-radius: 10px;
  padding-left: 25%;

}

.containerVideos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  align-items: center;
  width: 80%;
  min-height: 30vh;
  border-radius: 1rem;
  background-color: #252422;
  padding: 5px;
  color: #fff;
  border: 1px solid #252422;
  place-items: center;
}
.containerVideos p {
  text-align: justify;
  font-family: 'Lucida Sans';
  padding-left: 10%;
  padding-top: 5%;
  border-radius: 10px;
}

.containerVideos img {
  width: 300px;
  text-align: center;
  border-radius: 10px;
}