* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  text-align: center;
  z-index: 0;
  background-color: #403d39;
}

.header {
  background-color: black;
  color: white;
}

.piePagina {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  place-items: center;
  column-gap: 0px;
  padding-left: 100px;
  padding-right: 10px;
}

.piePagina img {
  width: 50px;
}

.footer {
  background-color: #403d39;
  color: white;
}

.footer p {
  background-color: black;
}

.textoFooter {
  display: contents;
}

.imgPrincipal {
  width: 100%;
}

.contenedor {
  background-image: url("img1.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: right;
}

.contenedor h1 {
  font-size: 6vw;
  padding-right: 40px;
  padding-top: 20px;
  font-family: Geneva;
}
.mainInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
  border: 1px solid white;
}
.container {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  width: 80%;
  min-height: 30vh;
  border-radius: 1rem;
  background-color: #252422;
  padding: 5px;
  border: 1px solid red;
}

.container .rail {
  position: relative;
  width: 20vw;
  height: 10vh;
  background-color: #fff;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.holderopcion {
  width: 50%;
  height: 100%;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.activo {
  background-color: rgba(235, 94, 40, 1);
  color: white;
}

.texto{
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  color: #ccc5b9;
  font-family: 'Lucida Sans';
}

.subtitulo{
  display:flex;
  background-color: #eb5e28;
  border-radius: 3rem;
  align-items: left;
  padding: 10px;
}